{% load static %}
<html >
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'css/mystylesheet.css' %}">
</head>
<body>
    <table align="center" border="0">
        <tr>
            <th><img src="{% static 'images/icon.png'  %}" width="100%" height="100"</th>
            <th id="satya" > satya technologies</th>
        </tr>
    <tr>
        <th colspan="2">
            <table border="0" align="center">
                <tr>
                    <th colspan="3" id="satya1">Employe login page</th>
                </tr>
                <tr>
                    <th rowspan="5">
                        <img src="{% static  'images/satyatech.png' %}"

                    </th>
                    <th>
                        username

                    </th>
                    <th>
                        <input type="text">

                    </th>
                </tr>
                <tr>
                    <th>
                        password
                    </th>
                    <th>
                        <input type="text">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit">Login</button>
                    </th>
                </tr>
                <tr>
                    <th colspan="2" id="forgot">Forgot password</th>
                </tr>
                <tr>
                    <th colspan="2" id="new">new user registration</th>
                </tr>

            </table>
        </th>
    </tr>

    </table>

</body>
</html>