<html>
    <head>
            <title>example</title>
    </head>
            <body>
                 {% if message == "valid" %}
                    <h1> welcomeuser</h1>
            {% elif message == "invalid" %}
                 <h1> sorry invalid</h1>
                 {% else %}
                <form method="post" action="/index/">
                    {% csrf_token %}
                    <table align="center" border="2">
                        <tr >
                            <th colspan="2">
                                Login page
                            </th>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td> <input type="text" placeholder="username" required name="t1"></td>
                        </tr>
                        <td>password</td>
                        <td>  <input type="text" placeholder="password" required name="t2"></td>

                        <tr>
                            <th colspan="2"><button type="submit">Login</button></th>
                        </tr>
                    </table>
                </form>
            {% endif %}

            </body>
</html>
