<html>
    <head>
            <title>example</title>
    </head>
            <body>
                <form method="post" action="/logincheck/">
                    {% csrf_token %}
                    <table align="center" border="2">
                        <tr >
                            <th colspan="2">
                                Login page
                            </th>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td> <input type="text" placeholder="username" required name="t1"></td>
                        </tr>
                        <td>password</td>
                        <td>  <input type="text" placeholder="password" required name="t2"></td>

                        <tr>
                            <th colspan="2"><button type="submit">Login</button></th>
                        </tr>
                    </table>
                </form>
            </body>
</html>