<html>
    <head>
        <title> siddhu</title>
    </head>
<body>
        { % if message == "admin" % }
        <h1>welcome </h1>
        { %  elif message == "employee" % }
        <h1>welcome</h1>
        { % elif message == "customer" %}
        <h1>welcome</h1>
        { % else message=="error" %}
        <h1>error</h1>
        { % else % }
         <form method="post" action="/loginCheck/">
            {% csrf_token %}
            <table align="center" border="2">
            <tr>
                <th colspan="2">Login Page</th>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" placeholder="Username" required name="t1"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" placeholder="Password" required name="t2"></td>
            </tr>
          <tr>
              <td>designation</td>
             <td> <select>
                  <option>admin</option>
                 <option>employe</option>
                 <option>customer</option>

              </select>
          </tr>
          <tr>
              <th colspan="2">   <button type="submit" >Login</button></th>
          </tr>
       </table>
        </form>
{ % endif % }
</body>
</html>